<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  input{
    width: 100%;
  }
</style>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <div style="margin:0 auto ; width:40%; padding:20px" class="card">
    <div class="row">
      <label class="col-md-3">Start Tme</label>
      <div class="col md-9">
        <input type="datetime-local" name="startTime" id="startTime" placeholder="Start Tme">
      </div>
  </div>
  <div style="margin: 10px;">

  </div>
  <div class="row">
    <label class="col-md-3">End Tme</label>
    <div class="col md-9">
      <input type="datetime-local" name="endTime" id="endTime" placeholder="End Tme">
    </div>
</div>
<div style="margin: 10px;">

</div>
<div class="row">
  <button class="btn btn-primary" onclick="addAvailability()">submit</button>
  <button class="btn btn-success" onclick="getAvailability()">getAvailability</button>
</div>
  </div>
</body>

</html>

<script>

  function addAvailability() {
    let startTime = new Date(document.getElementById('startTime').value).getTime();
    let endTime = new Date(document.getElementById('endTime').value).getTime();

    const Http = new XMLHttpRequest();
    const url = 'http://localhost:8081/version1/addAvailability';
    Http.open("POST", url);
    Http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    Http.setRequestHeader('Authorization', localStorage.getItem('token'));
    Http.send(`startTime=${startTime}&endTime=${endTime}`);

    Http.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        let data = JSON.parse(Http.responseText)
        let userId = localStorage.getItem('userId')
        let timeOffset = new Date().getTimezoneOffset()
        window.location = `http://localhost:8081/version1/getAvailability?userId=${userId}&timeOffset=${timeOffset}`;
      }
    };

  };

  function getAvailability() {
    let timeOffset = new Date().getTimezoneOffset();
    let userId = localStorage.getItem('userId');
    window.location = `http://localhost:8081/version1/getAvailability?userId=${userId}&timeOffset=${timeOffset}`;
  }
</script>